.c-login {
  background-color: var(--primary);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-login__wrapper {
  width: 1536px;
  height: 925px;
  box-shadow: 1px 1px 20px 10px rgba(0, 0, 0, 0.2);
  border-radius: var(--24px);
}

.c-login__left {
  background-image: url('/assets/login-image.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 50%;
  border-radius: var(--24px) 0 0 var(--24px);
}